@use "../utilities/variables" as *;

.section-adbar{
    background-color: $color-black;
    color: $color-text-primary;
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid rgba($color-text-primary, 0.3);
    display: flex;
    align-items: center;

    .adbar-animated{
        white-space: nowrap;
        display: inline-block;
        will-change: transform;
    }

    .adbar-text{
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 0 20px;
        display: inline-block;
    }
}

@keyframes marquee{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}

.adbar-animated{
    animation: marquee 40s linear infinite;
}

.section-adbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    z-index: 1050; 
    
}